
.wrapper3{

        width: 100%;
        max-width: 1000px;
        height:auto;
    
    
}
.lineG{
    position: relative;
    margin-top: 84px;
    width: 100%;
    height: 10px;
}
.GLine{
    position: absolute;
    margin-top: 0px;
    width: 100%;
    height: 10px;
}

    
.cdaTitle{
position:absolute;
width: 100%;
height: 84px;
margin-left: 3.3125%;

margin-top: 24px;

font-family: SF UI Display;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;


display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #000000;
    }

.headerCDA{

    margin-top:29px;
    height:84px;
    width: 89.6875%;

}
.textCDA{
    position: absolute;
    height: 568px;
    width: 90%;


border-radius: 0px;
background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
margin-top: 99px;
margin-left:5.312%;
margin-right: 4.6875%;



}
.innerText{
width: 75%;
height: 467px;
left: 13.437%;
margin-top:25px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
letter-spacing: -0.04em;
padding-top: 25px;
padding-left:27px;

color: #000000;

}
.onMain2{
    height: 135px;
    width:100%;
    position:absolute;
    margin-top:712px;
  

}
.onMain1{
   
    margin-left: 5%;
    height:45px;
    width: 90%;
    background: rgba(255, 255, 255, 0.72);
border: 1px solid #C4C4C4;
cursor: pointer;
border-radius: 8px;


font-family: SF UI Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;


text-align: center;
padding-top: 10px;
color: #000000;

}

    
    
    