

.wrapper2{
    position:absolute;
    width:100%;
    height:3550px;
  
}
.lineG{
    margin-left: auto;
    margin-right: auto;
    top:16px;
    width: 320px;
height: 10px;
}

    
    .cdaTitle{
        margin-left: auto;
        margin-right: auto;
width: 321px;
height: 84px;

top: 123px;

font-family: SF UI Display;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;


display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #000000;
    }

.headerCDA{

    margin-top:29px;
    height:84px;
    width: 287px;

}
.textCDA{
    margin-left: auto;
    margin-right: auto;
    height: 568px;
    width: 288px;


border-radius: 0px;
background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
margin-top: 29px;



}
.innerText{
width: 240px;
height: 467px;
left: 43px;
margin-top:25px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
letter-spacing: -0.04em;
padding-top: 25px;
padding-left:27px;

color: #000000;

}
.onMain2{
    height: 135px;
    width:320px;
    margin-right: auto;
    margin-left: auto;

}
.onMain1{
   
  
    margin-top:35px ;
    margin-left: 16px;
    height:45px;
    width: 288px;
    background: rgba(255, 255, 255, 0.72);
border: 1px solid #C4C4C4;
cursor: pointer;
border-radius: 8px;


font-family: SF UI Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
padding-top: 10px;
color: #000000;


}
.footers4 {
    margin-right:auto;
    margin-left: auto;
    height:234px;
    width: 320px;
    left: 0px;
    margin-top: 0px;

    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #21252B;
}

.FC {

    width: 39px;
    height: 22px;
    margin-left: 19px;


    font-family: SF UI Display;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-top: 21px;
}

.mailAdress {

    height: 20px;
    width: 130px;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 19px;

    font-family: SF UI Display;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}

.letter {
    padding-right: 5px;
}

.CDA {
    margin-left: 19px;
    width: 97px;
    height: 18px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin-top: 39px;

    align-items: left;

    color: #FFFFFF;
    padding-bottom: 0px;

}

.userCDA {
    width: 177px;
    height: 28px;
    margin-top: 0px;

    font-family: SF UI Display;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;

    color: #8A8A8E;

}
.JI1{
    cursor:pointer;
}

.info {
    width: 187px;
    height: 112px;
    margin-left: 20px;


    font-family: SF UI Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;



    color: #FFFFFF;
}

.allRights {
    margin-top: 21px;
    margin-left: 120px;
    width: 87px;
    height: 10px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;

}

.rights {
    padding-right: 5px;
    padding-bottom: 3px;
}


    
    
    