.titleLegal {
    margin-right: auto;
    margin-left: auto;
    height: 98px;
    width: 320px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #000000;
}

.logoI {
    margin-left: 43px;
    margin-top: 20px;

}

.textLegal {
    margin-top: 20px;
    padding-left: 0px;
    width: 195px;
    height: 44px;

}

.OOO {
    margin-right: auto;
    margin-left: auto;
    height: 273px;
    width: 320px;

    font-family: SF UI Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    color: #000000;

}

.legalAdress {
    width: 286px;
    height: 144px;
    margin-top: 8px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.legalEmails {
    margin-top: 21px;;
}

.letters {
    padding-right: 10px;
    height: 10px;
    width: 25px;
}

.CdaLink {
    margin-top: 26px;
    height: 36px;
    width: 287px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #646871;
    cursor: pointer;
}

.onMain {
    margin-top: 35px;
    margin-left: 16px;
    height: 45px;
    width: 288px;
    background: rgba(255, 255, 255, 0.72);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
}

.footers {
    background-color: #21252B;
    margin-left: auto;
    margin-right: auto;
    height: 234px;
    width: 320px;
    color: white;
    margin-top: 125px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;;
}

.FC {
    height: 22px;
    width: 39px;
    left: 19px;
    color: white;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}

.FastCoffe {
    margin-left: 18px;
    margin-top: 59px;
    color: white;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.LastInf {
    margin-top: 43px;
    margin-left: 18px;
    height: 187px;
    width: 112px;
    font-size: 9px;
    line-height: 14px;
}
