.wrapper2 {
    width: 100%;
    max-width: 1000px;
    height: auto;

}

.a {
    text-decoration: none;
}

.a:hover {
    text-decoration: none;
}

.burger {
    position: absolute;
    margin-left: 5%;
    margin-top: 37px;
}

.menu1 {


    height: 84px;
    width: 100%;
    border-radius: 0px;
    position: fixed;
    background-color: white;
    z-index: 70;
    margin-top: -85px;

}

.ru {
    position: absolute;
    margin-left: 16.875%;
    margin-top: 37px;
    width: 22px;
    height: auto;
}

.logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 42%;

    width: 4, 5%;
    height: auto;

}

.enter {
    position: absolute;
    margin-left: 78%;
    margin-top: 33px;


    padding-top: 0px;
    cursor: pointer;
}

.mainpicture {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 84px;
}

.mainpic {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 3;
}

.steps {
    position: absolute;
    height: 567px;
    width: 100%;
    left: 0px;
    border-radius: 0px;


}


.coffeeFone {
    position: absolute;
    z-index: 2;
    height: 567px;
    width: 100%;
    left: 0px;

}

.mainLine {
    position: absolute;
    margin-left: 5.9375%;

    margin-top: 0px;
    z-index: 5;
}


.V {
    position: absolute;
    z-index: 4;
    height: 13.82px;
    width: 17px;
    margin-top: 41.59px;
    margin-left: 37.1875%;

}

.V2 {
    position: absolute;
    z-index: 4;
    height: 13.82px;
    width: 17px;
    margin-top: 93.59px;
    margin-left: 37.1875%;
}

.text1 {
    position: relative;
    z-index: 4;
    height: 52px;
    width: 172px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 44.375%;
    margin-top: 41.59px;;
    font-weight: 600;
    line-height: 16px;
}

.text2 {
    position: absolute;
    z-index: 4;
    height: 52px;
    width: 172px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 44.375%;
    margin-top: 0px;
    font-weight: 600;
    line-height: 16px;
}

.text3 {
    position: absolute;
    z-index: 4;
    height: 46px;
    width: 198px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 33.64%;
    margin-top: 66px;
    font-weight: 300;
    line-height: 12px;

}

.text4 {
    position: absolute;
    z-index: 4;
    height: 46px;
    width: 198px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 33.64%;
    margin-top: 135px;
    font-weight: 300;
    line-height: 12px;

}

.text5 {
    position: absolute;
    z-index: 4;
    height: 46px;
    width: 198px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 33.64%;
    margin-top: 197px;
    font-weight: 300;
    line-height: 12px;

}

.text6 {
    position: absolute;
    z-index: 4;
    height: 46px;
    width: 198px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 33.64%;
    margin-top: 259px;
    font-weight: 300;
    line-height: 12px;

}


.text7 {
    position: absolute;
    z-index: 4;
    height: 46px;
    width: 198px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 33.64%;
    margin-top: 317px;
    font-weight: 300;
    line-height: 12px;

}

.text8 {
    position: absolute;
    z-index: 4;
    height: 46px;
    width: 198px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 33.64%;
    margin-top: 380px;
    font-weight: 300;
    line-height: 12px;

}

.counter {

    position: absolute;

    width: 100%;
    left: 0px;
    height: 900px;
    margin-top: 565px;

    border-radius: 0px;

    background-color: rgba(229, 229, 229, 0.8);
    z-index: 4;

}

.partners {
    position: absolute;
    width: 58.437%;
    margin-top: 40px;
    margin-left: 24.68%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.logoPartners {
    position: absolute;

    margin-top: 74.23px;
    margin-left: 11.56%;
    width: 161.77px;
    height: 161.77px;
}

.counterStyle {
    position: absolute;

    margin-top: 67px;
    margin-left: 11.56%;
    width: 161.77px;
    height: 161.77px;
}

.coffeePartners {
    position: absolute;

    margin-top: 67px;
    margin-left: 11.56%;
    width: 161.77px;
    height: 161.77px;
}

.p {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 16px;
    margin-left: 58.12%;
    margin-top: 147px;
}

.c {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 16px;
    margin-left: 58.12%;
    margin-top: 139.77px;

}

.hotfix {
    position: absolute;
    margin-top: 88.95px;
    margin-left: 16.56%;
    height: 95.34px;
    width: 96.1px;
}

.yumy {
    position: absolute;
    margin-top: 88.95px;
    margin-left: 56.25%;
    width: 90px;
    height: 90px;
}

.guru {
    position: absolute;
    margin-top: 214.23px;
    margin-left: 16.56%;
}

.cofix {
    position: absolute;
    margin-top: 214.23px;
    margin-left: 56.25%;

}

.cofeSound {
    position: absolute;
    margin-top: 337.63px;
    margin-left: 16.56%;
}


.stantion {
    position: absolute;
    margin-top: 337.63px;
    margin-left: 56.25%;
}

.zerno {
    position: absolute;
    margin-left: 16.56%;
    margin-top: 458.23px;

}


.lavaza {
    position: absolute;
    margin-left: 56.25%;
    margin-top: 458.23px;
}

.Sale {
    position: absolute;
    height: 372px;
    width: 100%;
    left: 0px;
    margin-top: 1465px;
    border-radius: 0px;


}

.sales {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;

    height: 83px;
    width: 100%;
    left: 4.375%;
    top: 29px;

    text-align: center;
    padding-top: 29px;


}

.carousel {

    position: absolute;

    margin-top: 0px;
    width: 100%;
    height: 172px;


}

.first {
    width: 100%;
    height: 172px;
    background-color: pink;

}

.proposal {
    position: absolute;
    margin-top: 40px;
    margin-left: 5%;
    border: 1px solid #414142;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    height: 45px;
    width: 90.31%;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 10px;
    color: #414142;


}

.welcome {
    position: absolute;
    width: 100%;
    background-color: #21252B;
    height: 293px;
    left: 0px;
    margin-top: 1850px;
    border-radius: 0px;

}

.textWelcome {
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    color: #FFFFFF;
    width: 268px;
    height: 46px;
    position: absolute;
    margin-top: 46px;
    margin-left: 5%;

}

.registered {
    color: #FFFFFF;
    position: absolute;
    margin-top: 92px;
    margin-left: 5.3%;
    height: 99px;
    width: 173px;
}

.funCup {
    margin-top: 73px;
    margin-left: 60.3%;
    width: 115px;
    height: 115px;

}

.regButton {
    position: absolute;
    margin-top: 24px;
    margin-left: 5.3125%;;
    font-size: 14px;
    font-weight: bold;
    background-color: #F7C1D9;
    width: 90.31%;
    height: 45px;
    position: absolute;
    text-align: center;
    padding-top: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.numbers {
    position: absolute;
    height: 203px;
    width: 100%;
    left: 1px;
    margin-top: 2140px;
    border-radius: 0px;


}

.man {
    margin-top: 32px;
    margin-left: 4.06%;
    position: absolute;
    width: 36px;
    height: 37px;
}

.smallCup {
    position: absolute;
    margin-top: 32px;
    margin-left: 54%;
    width: 37.79px;
    height: 37.79px;
}

.number1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    margin-left: 11.87%;
    margin-top: 61px;
    font-weight: bold;
    font-size: 54px;
    line-height: 16px;
    height: 41px;
    width: 103px;
    font-style: normal;


}

.number2 {
    position: absolute;
    margin-left: 62.81%;
    margin-top: 61px;
    font-weight: bold;
    font-size: 54px;
    line-height: 16px;
    height: 41px;
    width: 103px;
    font-style: normal;

}

.users {

    position: absolute;
    margin-left: 12.5%;
    margin-top: 119px;
    height: 17px;
    width: 139px;
    letter-spacing: -0.05em;
    padding-top: 11px;


    font-family: SF UI Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 0px;

    text-align: left;

}

.numberCoffee {
    position: absolute;
    margin-left: 63.75%;
    margin-top: 119px;
    height: 17px;
    width: 139px;
    letter-spacing: -0.5em;
    padding-top: 11px;


    font-family: SF UI Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;
}


.highLetters {
    font-size: 14px;
    font-weight: 500;


}

.reviews {

    position: absolute;
    width: 100%;
    height: 481px;
    margin-top: 2300px;

    background-color: #DFDFDFCC;


}

.Rev {

    height: 99px;

    font-family: SF UI Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;


    text-align: center;
    letter-spacing: -0.165px;
    text-transform: uppercase;

    color: #000000;
    padding-top: 28px;
}


.second {
    width: 100%;
    height: 172px;

}

.allR {

    width: 90.31%;
    height: 45px;
    margin-left: 4.687%;
    margin-top: 40px;

    background: rgba(255, 255, 255, 0.72);
    border: 0.5px solid #DADADA;
    box-sizing: border-box;
    border-radius: 8px;


    font-family: SF UI Display;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;

    text-align: center;
    padding-top: 11px;
    color: #000000;
}

.order {

    width: 90.31%;
    height: 49px;
    margin-left: 4.687%;
    margin-top: 42px;

    background: #21252B;
    border-radius: 8px;


    font-family: SF UI Display;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;


    text-align: center;

    color: #FFFFFF;
    padding-top: 14px;

}

.footer3 {
    position: absolute;
    height: 240px;
    width: 100%;
    left: 0px;
    margin-top: 2780px;
    border-radius: 0px;
    background-color: #21252B;
}

.FC {

    width: 39px;
    height: 22px;
    margin-left: 5.9%;


    font-family: SF UI Display;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-top: 21px;
}

.mailAdress {

    height: 20px;
    width: 130px;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 5.9%;

    font-family: SF UI Display;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}

.letter {
    padding-right: 5px;
}

.CDA {
    margin-left: 5.9%;
    width: 97px;
    height: 18px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin-top: 39px;

    align-items: left;

    color: #FFFFFF;
    padding-bottom: 0px;

}

.userCDA {
    width: 177px;
    height: 28px;
    margin-top: 0px;

    font-family: SF UI Display;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;

    color: #8A8A8E;

}

.info {
    width: 58.4%;
    height: 112px;
    margin-left: 6.25%;


    font-family: SF UI Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;


    color: #FFFFFF;
}

.allRights {
    margin-top: 21px;
    margin-left: 37.5%;
    width: 27.187%;
    height: 10px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;

}

.rights {
    padding-right: 5px;
    padding-bottom: 3px;
}

.JI {
    cursor: pointer;
}


.footer4 {
    position: absolute;
    height: 240px;
    width: 100%;
    left: 0px;
    margin-top: 802px;
    border-radius: 0px;
    background-color: #21252B;
}

.footer5 {
    position: absolute;
    height: 234px;
    width: 100%;
    left: 0px;
    margin-top: 496px;
    border-radius: 0px;
    background-color: #21252B;
}
