
.menu {
    position:fixed;
    width: 90vw;
    top:0px;
    left:0px;
    transform: translateX(-130%);
    transition: all 0.4s;
    background-color: #202021;
    color: white;
    z-index:50;
    margin-top: 25px;
}

.menu.active {
    transform: translateX(0);
}

#A {text-decoration: none;
        color: white;
      }

.blur {
    width: 80vw;
    height: 100vh;
    margin-left: 30%;
    backdrop-filter: blur(2px);
    position: absolute;
    margin-top: 55px;
}
.menu_content{
    position: fixed;
    height: 493px;
    top: 58px;
    width: 300px;
    background: #363637;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    color: #FEFEFE;
    letter-spacing: -0.04em;
    padding-top: 42px;
    padding-left: 15px;


}

.menu_content{
    font-family: 'SF UI Display';}


@media screen and (max-width: 768px) {
    .menu_content {
        width: 100%;
    }

    .blur {
        backdrop-filter: none;
    }

}


